html,
body {
	height: 100%;
	width: 100%;
	$(window).scrollTop()

}

body {
	background-color: #222;
	color: #fef;
	text-align: center;
}

.displayArea .row {
	background-color: #222;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.footer {
	display: fixed;
	bottom: 0;
}

.displayArea {
	margin-left: auto;
	margin-right: auto;
}

/*
 * MenuBar Buttons
 */

.menuBar-buttons > li {
  display: inline-block;
  display: table-cell;
   vertical-align: top;
}

.menuBar-buttons > li > img {
  padding-right: 0;
  padding-left: 0;
  display: block;
}

.menuBar-buttons ul > li > a:hover,
.menuBar-buttons ul > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.menuBar-buttons > .active > a,
.menuBar-buttons > .active > a:hover,
.menuBar-buttons > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

#mainMenu {
	border: 0px;
	position: fixed;
	left: 0;
	right:0;
	height: 30px;
	min-height: 30px;
}

#mainMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-contents {
	display: table;
	width: 100%;
	min-height: 100%;
	background-color: #222;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#names-heading {
	font-family: 'Amatic SC', cursive;
	font-size: 14vh;
	font-weight:900;
	color: white;
	margin-top:50px;
}

#subHeading {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	font-weight:900;
	color: white;
}

#couple-heading {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 10vh;
	font-weight:900;
	color: white;
}

.display-content {
	font-family: 'Tangerine', serif;
	font-size: 40px;
	font-weight:900;
}

#locationText {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 3vh;
	font-weight:900;
	color: white;
}

#venueText {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2.5vh;
	font-weight:900;
	color: white;
}

#ceremonyDateText {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 5vh;
	font-weight:900;
	color: white;
}

.panel {
	opacity: 0.75;
}

.panel-body {
	color: #000000;
}

.paddedImage {
	padding: 10px;
	
}

.menuLink {
  padding-right: 0;
  padding-left: 0;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  display: block;
  font-family: 'Amatic SC', cursive;
  display: table-cell;
  text-align: center;
}

@media (min-width: 1200px) {
	.menuLink {
		font-size: 24px;
	}
}

@media (max-width: 1199px) {
	.menuLink {
		font-size: 1.5vh;
	}
}

.menuLink:hover,
.menuLink:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,0);
}
.menuBar-buttons > .active > .menuLink,
.menuBar-buttons > .active > .menuLink:hover,
.menuBar-buttons > .active > .menuLink:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.captionBlock {
	background-color: rgba(0, 0, 0, 0.15);
    border: 0px;
}